<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>備品一覧 - Equipper</title>
  </head>
  <body>
    <h1>備品一覧</h1>

    <ul>
      {{range .equips}}
        <li>{{ .Id }} | {{ .Title }} | {{ .Type }} | {{ .Owner }} | {{ .DueDate }} | {{ .Borrower }} | {{ .State }} | {{ .Remark }}</li>
      {{end}}
    </ul>

  </body>
</html>
